
@media (min-width:320px) {
    header {
        background-color: #A0D2DB;
        color: white;
        text-align: center;
        align-items: center;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 400;
        font-size:larger;
    }

    #form-container {
        border-style: solid;
        border-radius: 15px;
        background-color: #BEE7E8;
        justify-content: center;
        margin-top: 8px;
        text-align: center;
    }

    .row {
        padding: 1px;
        margin-top: 5px;
    }
    
    body {
        background-color: #7D8CC4;
    }

    h2 {
        text-align: center;
        color: white;
    }

}

@media (min-width:1025px) {
    header {
        background-image: url('img/journal-fitness.jpg');
        background-size: cover;
        background-position: center;
        height: 200px;
        display: flex;
        text-align: center;
        align-items: center;
    }

    #form-container {
        border-style: solid;
        border-radius: 15px;
        background-color: #BEE7E8;
        justify-content: center;
        margin-top: 20px;
        text-align: center;
    }

    .row {
        padding: 5px;
        margin-top: 10px;
    }

    h2 {
        text-align: center;
        color: white;
    }

    body {
        background-color: #7D8CC4;
    }

}
