
@media (min-width:320px) {
    header {
        background-color: #1B263B;
        color: white;
    }

    h1 {
        text-align: center;
        align-items: center;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 200;
    }

    #form-container {
        border-style: solid;
        border-radius: 15px;
        background-color: #778DA9;
        justify-content: center;
        margin-top: 8px;
        text-align: center;
    }

    .row {
        padding: 1px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    body {
        background-color: #415A77;
    }

    h2 {
        text-align: center;
        color: white;
    }

    .card {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (min-width:1025px) {
    .progress-pg {
        background-image: url('img/journal-fitness.jpg');
        background-size: cover;
        background-position: center;
        height: 200px;
        display: flex;
    }

    .fitness-track-pg {
        background-image: url('img/fitness-track.jpg');
        background-size: cover;
        background-position: center;
        height: 200px;
        display: flex;
    }

    .prev-workout-pg {
        background-image: url('img/journal.jpg');
        background-size: cover;
        background-position: center;
        height: 200px;
        display: flex;
    }

    h1 {
        font-size: 10vw;
        text-align: center;
        align-items: center;
        font-family: 'Bebas Neue', sans-serif;
    }

    #form-container {
        border-style: solid;
        border-radius: 15px;
        background-color: #778DA9;
        justify-content: center;
        margin-top: 20px;
        text-align: center;
    }

    .row {
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h2 {
        text-align: center;
        color: white;
        font-size: medium;
        margin-top: 10px;
    }

    body {
        background-color: #1B263B;
    }

    .card {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

.card-body {
    text-align: center;
    background-color: #778DA9;
    color: white;
}

.btn {
    background-color: #415A77;
    color: white;
    border-color: #415A77;
}

.col-past-content {
    color: white;
    border-style: solid;
    border-color: white;
    background-color: #778DA9;
    font-size: larger;
    text-align: center;
    border-radius: 15px;
}

.collapsible {
    background-color: #415A77;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.workout-desc {
    display: inline-block;
}
