
@media (min-width:320px) {
    header {
        background-color: #366575;
        color: white;
        text-align: center;
        align-items: center;
    }

    main {
        border-style: solid;
        border-radius: 15px;
        background-color: #366575;
        justify-content: center;
    }
}

@media (min-width:1025px) {
    header {
        background-image: url('img/journal-fitness.jpg');
        background-size: cover;
        background-position: center;
        height: 200px;
        display: flex;
        text-align: center;
        align-items: center;
    }

    main {
        border-style: solid;
        border-radius: 15px;
        background-color: rgb(37, 162, 139);
        justify-content: center;
        margin: 15px;
    }
}
