/* General styling */
* {
  box-sizing: border-box;
}

.footer-set {
  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 70px;
}

.col-past-content>.btn {
  background-color: #415A77;
  color: white;
  border-color: #415A77;
}


.past-content {
  padding-bottom: 40px;
  margin: 40px;
}

.login-page {
  background-color: #E0E1DD;
  font-family: 'Helvetica', sans-serif;
}

.back-main {
  background-color: #E0E1DD;
  font-family: 'Helvetica', sans-serif;
}

.home-main {
  background-color: #E0E1DD;
  font-family: 'Helvetica', sans-serif;
}

.card-body {
  text-align: center;
}

.container-fluid>.btn {
  background-color: #415A77;
  color: white;
  border-color: #415A77;
}

.col-lg-6>.btn {
  background-color: #415A77;
  color: white;
  border-color: #415A77;
}

.col-4>.btn {
  background-color: #415A77;
  color: white;
  border-color: #415A77;
}

.card-body>.btn {
  background-color: #415A77;
  color: white;
  border-color: #415A77;
}

.col-past-content {
  color: white;
  border-style: solid;
  border-color: #1B263B;
  background-color: #778DA9;
  font-size: larger;
  text-align: center;
  border-radius: 15px;
}

.collapsible {
  background-color: #415A77;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.col-past-content>.workout-desc {
  display: inline-block;
  margin-right: 20px;
}

/* exercise detail page */
.exercise-img {
  max-width: 700px;
  min-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  background-color: #415a77;
  border-radius: 15px;
  box-shadow: 9px 10px 10px 0px rgba(0, 0, 0, 0.6);
}

.info-body {
  display: flex;
  padding: 0 5rem;
  flex-direction: column;
  background-color: #E0E1DD;
  font-family: 'Helvetica', sans-serif;
}


.save-to-profile {
  display: flex;
  justify-content: center;
}

/* Login Page CSS */

.login-page {
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
}

.bfont div {
  font-size: 5vw;
}

.material-icons.md-48 {
  font-size: 48px;
  padding-top: 10vw;
}

.login-content {
  border-top: 15px solid #1B263B;
  border-bottom: 15px solid #1B263B;
}

/* Search for Exercises Page */
.exercise-header {
  background-color: #1B263B;
  color: white;
  text-align: center;
  position: relative;
  padding: 20px;
}

.navbar {
  background-color: #1B263B;
}

.filter-bar {
  margin-top: 1rem;
  padding-top: 1rem;
}

.filter-title {
  font-size: 2rem;
}

.exercise-title {
  text-align: left;
  font-size: 2rem;
  padding-left: 3rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.exercise-card {
  padding: 1rem;
  margin: 1rem;
  width: 300px;
  height: 350px;
  border-color: #415A77;
  border-width: 2px;
  border-radius: 15px;
  box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.71);
  display: flex;
  justify-content: center;
  background-color: #415A77;
}

.exercise-card:hover {
  background-color: #778DA9;
  transition: .25s ease-out;
}

.exercise-card a {
  padding: .5rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.exercise-card img {
  max-height: 200px;
  border-radius: 5px;
}

.flex-column>.btn {
  color: #fff;
  background-color: #415a77;
  border-color: white;
}

.login-page>.button-col {
  color: #fff;
  background-color: #415a77;
  border-color: white;
}

.info-body>.btn {
  color: #fff;
  background-color: #415a77;
  border-color: white;
}

.exercise-body {
  display: flex;
  flex-direction: column;
}

/*  DISCUSSION STYLING */

.discussion-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #1b263b;
}

.header-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b263b;
  height: 10rem;
  color: #e0e1dd;
}

.discussion-main {
  height: 100vh;
  width: 95%;
  border-radius: 0.5rem;
  background-color: #778da9;
  margin-left: auto;
  margin-right: auto;
}

.scroll {
  overflow: auto;
  height: 90vh;
}

.discussion-body {
  background-color: #1b263b;
  height: 100vh;
}

.main-li {
  display: inline;
}

.nav-container {

  background-color: #1B263B;

}

.post {
  border-radius: .5rem;
  height: 15vh;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  background-color: #e0e1dd;
  border: solid black 1px;
}

.post-row {
  display: flex;
}

.chat-body {
  flex-direction: column;
}

.meta {
  height: 3vh;
  font-size: x-small;
  padding-top: 0.8em;
  padding-bottom: 0.5em;
}

.meta img {
  background-color: #e0e1dd;
  height: 3vh;
  width: 3vh;
}

.post-container {
  margin-top: 3vh;
  display: flex;
  flex-wrap: wrap;
}

.content h2 {
  height: 1.5rem;
  font-weight: 600;
  font-size: large;
  padding-top: 5px;
  overflow: hidden;
  float: left;
}

.content p {
  padding-bottom: 2px;
}

.content a {
  text-decoration: none;
  color: black;
}

.content {
  height: 55%;
  overflow: hidden;
  margin-bottom: 2%;
  margin-top: 1%;
}

.meta2 .material-icons {
  font-size: 15px;
}

/* For comment section below */
/* Needs JS to turn off scroll when in overlay */
.overlay {
  position: fixed;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
}

.single-container {
  position: absolute;
  height: 75%;
  width: 50%;
  top: 12.5%;
  left: 25%;
  background-color: white;
}

.meta-f img {
  height: 2rem;
  width: 2rem;
}

.meta-f {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 1.5rem;
}

.big-f {
  border-top: solid 0.5px gray;
  border-bottom: solid 0.5px gray;
}

.content-f {
  margin-left: 3rem;
  width: 70%;
  height: 70%;
  overflow: hidden;
}

.meta2-f {
  margin-top: 1rem;
}

.meta2-f img {
  height: 1rem;
  width: 1rem;

}

.sub-f {
  width: 70%;
  margin-left: 3rem;
  border-bottom: solid 0.5px gray;
  height: 10%;
  overflow: hidden;
}

.comment-meta img {
  height: 1rem;
  width: 1rem;
}

.input {
  position: absolute;
  margin-left: 3rem;
  width: 70%;
  bottom: 0;
  border: solid gray 1px;
}




/* DISCUSSION STYLING END */

/* Small mobile screens */
@media (min-width:320px) {
  header {
    background-color: #1B263B;
    color: white;
  }

  h1 {
    text-align: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 200;
  }

  .form-container {
    border-style: solid;
    border-radius: 15px;
    background-color: #778DA9;
    justify-content: center;
    margin-top: 8px;
    text-align: center;
  }

  .row {
    padding: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
  }


  h2 {
    text-align: center;
    color: #1B263B;
  }

  .card {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
  }

  .home-header {
    color: #fff;
    background-color: #1B263B;
    height: 200px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 200;
    padding: 40px;
  }

  .container-progress {
    border-style: solid;
    border-color: #1B263B;
    border-radius: 15px;
    background-color: white;
  }

  .content h2 {
    font-size: medium;
  }

  .content p {
    font-size: small;
  }

  .post {
    width: 90vw;
  }

  .content {
    height: 40%;
  }


}

/* Large desktop screens*/
@media (min-width:1025px) {


  .progress-pg {
    background-image: url('../public/img/journal-fitness.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
  }

  .fitness-track-pg {
    background-image: url('../public/img/fitness-track.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
  }

  .prev-workout-pg {
    background-image: url('../public/img/journal.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
  }

  .discussion-pg {
    background-image: url('../public/img/group_photo.png');
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
  }

  .login-page>.header {
    font-size: 10rem;
    text-align: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
  }

  .container-fluid>h1 {
    font-size: 10vw;
    text-align: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
  }

  .exer>h1 {
    font-size: 10vw;
    text-align: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
  }

  .form-container {
    border-style: solid;
    border-radius: 15px;
    background-color: #778DA9;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
  }

  .container>.progress-row {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .container-lg>.progress-row {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  main>h2 {
    text-align: center;
    color: #1B263B;
    font-size: medium;
    margin-top: 10px;
  }


  .col-6>.card {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
  }

  .home-header {
    height: 500px;
    padding: 100px;
    background-image: url('../public/img/home.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'Bebas Neue', sans-serif;
  }

  .container {
    background-color: white;
  }

  .text-dark {
    font-size: large;
    font-weight: 600;
  }

  .exercise-body {
    display: flex;
    flex-direction: row;
  }

  .filter-bar {
    flex: 0 0 auto;
    width: 16.666667%;
  }

  .card-container {
    flex: 0 0 auto;
    width: 83.3333333%;
  }

  .exercise-header {
    background-image: url("../public/img/search_for_exercise.jpg");
    background-position: center;
    background-size: cover;
    padding: 50px;
  }

  .save-to-profile {
    position: absolute;
    top: 30px;
    right: 20px;
  }

  .discussion-main {
    width: 55%;
  }

  .nav-content {
    width: 83%;
    font-size: large;
  }

  .content {
    height: 45%;
    overflow: hidden;
    margin-bottom: 1.5%;
    margin-top: 1%;
  }

  .post {
    width: 50vw;
  }

}